.axis path, .axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: black;
}
.axis text, .label, .note {
    font-family: sans-serif;
    fill: grey;
}
.axis text {
    font-size: 11px;
}
.label {
    font-size: 13px;
}
.note {
    font-size: 12px;
}
#plot1, #plot2, #plot3 {
    float: left;
}
